 *{padding: 0;margin: 0;box-sizing: border-box;font-weight: lighter;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-tracktab__mod
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.2);
}

body{
	height: 100vh;
	width: 100vw;
	padding: 2em;
	background: #f7f7f7;
}
.chart__md{
	width: 80%;
	height: 100%;
	padding-right: 2em;

	float: left;
}

#barChart{width: 100%;height: 100%;}

.content__md{
	/*margin-top: -12px;*/
	float: right;
	width: 20%;
}
#main{
	width: 100%;
	height: 100%;
}
/*
{
	position: absolute;
	display: none;
	border-style: solid;
	white-space: nowrap;
	z-index: 9999999;
	transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
	background-color: rgba(50, 50, 50, 0.7);
	border-width: 0px;
	border-color: rgb(51, 51, 51); border-radius: 4px;
	color: rgb(255, 255, 255);
	font: 14px/21px "Microsoft YaHei";
	padding: 5px;
	left: 318px;
	top: 129px;
	pointer-events: none;
}
*/


#hide__mod{
	display: none;
}

.tab__mod {
	width: 100%;
	border-collapse: collapse;
}

.tab__tbody {
	display: block;
	max-height: calc(81vh - 7px);
	overflow-y: scroll;
	margin-bottom: 2em;
}

.tab__mod thead tr {
	letter-spacing: 2px;
	color: #F5F6EB;
	background: #262e3e;
}

.tab__mod thead, .tab__tbody tr {
	display: table;
	table-layout: fixed;
}

.tab__mod thead {
	width: calc(100% - 7px);
	cursor: default;
}

.tab__mod thead p{
	line-height: 32px;
}

.tab__mod td, .tab__mod th {
	font-size: 1em;
	text-align: center;

	-moz-border-bottom: 1px solid #989898;
	-ms-border-bottom: 1px solid #989898;
	border-bottom: 1px solid #989898;

	border-left: 1px solid #989898;
	-moz-border-left: 1px solid #989898;
	-ms-border-left: 1px solid #989898;

	border-right: 1px solid #989898;
	-moz-border-right: 1px solid #989898;
	-ms-border-right: 1px solid #989898;

	/*border: 1px solid #989898;*/
	padding: 5px 8px;
}

.tab__tbody tr {
	font-size: 1em;
	color: #494A49;
	background: rgba(0, 0, 0, 0);
	width: 99.5%;
	cursor: pointer;
}

.tab__tbody p,.tab__mod thead p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.text-center{
	text-align:center;
}

@media screen and (max-width: 1000px) {

	.tab__tbody {
		max-height: 433px;
	}
}
