* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.task-body h2 {
    margin: 1em;
    text-align: center;
}

.task-body {
    width: 90%;
    height:100%;
    margin: 0 auto;
}

.task-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.task-item {
    min-width: 350px;
    box-shadow: 1px 2px 6px 1px #ddd;
    border-radius: 3px;
    display: flex;
    margin-bottom: 2em;
    margin-left: 15px;
    animation: initA 1s;
}

.task-name {
    padding: 12px 10px;
    background: #eee;
    position: relative;
}

.task-desc {
    padding: 12px 10px;
    opacity: 0.85;
}

.split {
    width: 1px;
    height: 100%;
    background: #ddd;
}

@keyframes initA {
    0% {
        transform: translateY(30px);
        opacity: 0.1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@-ms-keyframes initA {
    0% {
        -ms-transform: translateY(30px);
        opacity: 0.1;
    }
    100% {
        -ms-transform: translateY(0);
        opacity: 1;
    }
}
