<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./css/index.css">
	<title>Document</title>
</head>
<body>
  <div class="box">
  	<div class="setting">
  		<div class="date-query">
				{{queryDate.nowYear}} / {{queryDate.nowMonth < 10 ? '0' + queryDate.nowMonth : queryDate.nowMonth}} / {{queryDate.nowDate < 10 ? '0' + queryDate.nowDate : queryDate.nowDate}}
        <div class="calendar">
          <div class="calendar-header">
            <b class="upper-month" @click="lastMonth"></b>
						<span 
							@click="todays"
							class="today"
							:class="[
								queryDate.nowYear != currentDate.nowYear
								||
								queryDate.nowMonth != currentDate.nowMonth
								||
								queryDate.nowDate != currentDate.nowDate
								? 'live' : ''
								]"
						>{{currentDate.nowYear}} / {{currentDate.nowMonth < 10 ? '0' + currentDate.nowMonth : currentDate.nowMonth}} / {{currentDate.nowDate < 10 ? '0' + currentDate.nowDate : currentDate.nowDate}}</span>
            <b class="down-month" @click="nextMonth"></b>
          </div>
          <div class="calendar-date">
            <table>
              <tr class="calendar-title">
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
              </tr>
              <tr v-for="total in 6" v-if="totalDate.length != 0">
								<td
									v-for="item in 7"
									@click="pastDay(total,item)"
									:class="[
										(totalDate[(total-1)*7  + item - 1 ].num == queryDate.nowDate && totalDate[(total-1)*7  + item - 1 ].now) ? 'active' : '',
										!totalDate[(total-1)*7  + item - 1 ].now ? 'prohibit' : '' 
									]"
								>
									{{ totalDate[(total-1)*7  + item - 1 ].num }}
								</td>
              </tr>
            </table>
          </div>
        </div>
  		</div>
  		<div class="nav-query">
				<div 
					class="morning nav"
					@click="morning"
					:class="[queryTime.state == 'morning' ? 'active' : '' ]"
				>
					<a href="#">上午</a>
				</div>
				<div 
					class="afternoon nav"
					@click="afternoon"
					:class="[queryTime.state == 'afternoon' ? 'active' : '']"
				>
					<a href="#">下午</a>
				</div>
  			<div class="mamage nav">
					<a href="./manage.html">管理</a>
				</div>
  		</div>
  	</div>
  	<div class="register">
  		<div class="line">
				<div class="grid personnel title">参与人员</div>
				<div class="grid" v-for="motion in motionItem">{{motion.item}}</div>
  		</div>
			<div class="line" v-for="(member,row) in allPersonnel" v-if="allPersonnel">
				<div class="grid personnel">{{member}}</div>
				<div
					v-if="allPersonnel.length == record.length"
					class="grid"
					v-for="(item,index) in motionItem"
					@click="sign(row,index)"
					:class="record[row][member].indexOf(item.item) != -1 ? 'opation' : ''"
				>
				<!-- {{record[row][member]}} -->
			</div>
			</div>
			<div class="tips" v-if="tips">
        <span>暂无记录</span>
      </div>
  	</div>
  </div>
  <script src="./vue/vue.min.js"></script>
  <script src="./vue/axios.min.js"></script>
  <script src="./js/index.js"></script>
</body>
</html>


