<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/manage.css">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="personnel manage">
            <h2>人员管理</h2>
            <ul>
                <li>
                    <span>序号</span>
                    <span>人员</span>
                    <span>操作</span>
                </li>
                <li v-for="(project,index) in member">
                    <span>{{index + 1}}</span>
                    <span>{{project.personnel}}</span>
                    <span
                        class="delete operation"
                        @click="deletePersonnel(project.id)"
                    >删除</span>
                </li>
                <li class="add">
                    <input type="text" placeholder="点击编辑" v-model="personnelName">
                    <span @click="addPersonnel" class="operation">添加</span>
                </li>
            </ul>
        </div>
        <div class="item manage">
            <h2>项目管理</h2>
            <ul>
                <li>
                    <span>序号</span>
                    <span>项目</span>
                    <span>操作</span>
                </li>
                <li v-for="(project,index) in item">
                    <span>{{index + 1}}</span>
                    <span>{{project.item}}</span>
                    <span
                        class="delete operation"
                        @click="deleteItem(project.id)"
                    >删除</span>
                </li>
                <li class="add">
                    <input type="text" placeholder="点击编辑" v-model="itemName">
                    <span @click="addItem" class="operation">添加</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="./vue/vue.min.js"></script>
    <script src="./vue/axios.min.js"></script>
    <script src="./js/manage.js"></script>
</body>
</html>